@import url('https://fonts.googleapis.com/css?family=Alatsi|Bebas+Neue&display=swap');

:root {
    font-family: 'Alatsi', sans-serif;
    --main-color: black;
}

body {
    max-width: 980px;
    margin: auto;
}

header .logo {
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    text-align: center;
    margin: 1rem 0;
}

header nav .menu {
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: space-around;
}

header nav .menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
    border: 1px solid transparent;
    padding: 5px;
}

header nav .menu a:hover {
    border: 1px solid var(--main-color);
}

@media (min-width: 600px) {
    header nav {
        display: flex;
        align-items: center;
    }

    header .menu {
        flex: 1;
    }
}

header .banner {
    background-image: url(../img/cybertruck.jpg);
    background-position: center;
    background-size: cover;
    min-height: 450px;

: